app = "klyrafps"
primary_region = "ord"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "7777"

[http_service]
  internal_port = 7777
  force_https = false
  auto_stop_machines = false
  auto_start_machines = true

  [http_service.concurrency]
    type = "connections"
    hard_limit = 100
    soft_limit = 50

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
